body{
  background-image: url("https://images.unsplash.com/photo-1634117622592-114e3024ff27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=725&q=80");
}
nav {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-left: 0px;
  background-color: #e3f2fd;
  width: 100%;
  position: fixed;
}
.navlist {
  background-color: gold;
  margin: 25px 0 25 0;
}

h1 {
  padding: 20px;
  text-align: center;
}
h3 {
  margin: 50px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  background-color: goldenrod;
  background-size: cover;
  position: sticky;
  z-index: 10000;
}
.form-inline {
  align-items: center;
}

.formdata {
  height: 65vh;
  border: none;
  display: block;
  margin-left: 35%;
  justify-content: center;
  direction: center;
  border-color: rgb(228, 19, 30);
}
input[type="text"]:focus {
  background-color: #ddddddcb;

  outline: none;
}

#submitbtn {
  width: 43%;
  color: #dddddd;
  margin-bottom: 50px;
}
.about {
  background-color: #009879;
  margin: 30px;
  padding: 60px;
}

p {
  text-indent: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
  line-height: 1em;
  align-content: center;
}
.form-control {
  background-color: gold;
}

.outer-wrapper {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  max-width: fit-content;
  max-height: fit-content;
}
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;

  margin-top: 22px;

  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;

  border-collapse: separate;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;

  background-color: rgb(76, 0, 255);
  color: rgb(241, 245, 179);

  text-align: center;
  font-weight: normal;

  border: 1.5px solid black;
}

table th,
table td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: left;
  border: 1px solid rgb(177, 177, 177);
  padding-left: 20px;
}
#btndelete{
  border-color: none;
  color:white;
  background-color: red;

}
