.table {
  
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}


nav{
  text-align: left;
  margin-left: 20px;
  background-color: #e3f2fd;
  width: 100%;
}
.navlist{
  background-color: gold;
  margin: 25px 0 25 0;
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.table th,
.table td {
    padding: 12px 15px;
}
h1{
  text-align: center;
  margin-top: 50px;
 
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
img {
  width:fit-content;
  object-fit: cover;
}
.header{
  background-color: chocolate;
}
aside{
  width: 30%;
  padding-right: 0;
  margin-right: 0;
  float: left;
}
th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}
h1{
  background-image: ;
}
